.edit{
    min-height: 70vh;
    margin-bottom: 20px;
}

.edit .same-component{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.edit .same-form .btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.cancel-btn{
    background: crimson;
}

.cancel-btn:hover{
    background: rgb(214, 51, 84);
}

.updated{
    color: green;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
}

.new-updated{
    display: block;
}


/* upload */

.upload .edit{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.upload input .edit{
    align-self: flex-start;
    width: 200px;
}

#file_img .edit{
    position: relative;
    width: 115px;
    height: 45px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.edit .upload img {
    width: 115px;
    display: block;
    height: 75px;
}

